#home {
  align-items: center;
  gap: clamp(2.5rem, 1.786rem + 3.571vw, 5rem);
}

.information {
  flex: 1;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.071rem + 2.143vw, 3rem);
}

.information-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.information-main_profession {
  font-size: clamp(0.75rem, 0.714rem + 0.179vw, 0.875rem);
  font-weight: 600;
  letter-spacing: 0.02em;
}

.information-main_role {
  font-size: clamp(1.75rem, 1.107rem + 3.214vw, 4rem);
  line-height: 1.1;
}

.information-main_description {
  font-size: clamp(0.875rem, 0.804rem + 0.357vw, 1.125rem);
  line-height: 1.6;
}

.information-contacts {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.information-contact {
  display: flex;
  gap: 12px;
}

.information-contact_icon {
  width: 36px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  aspect-ratio: 1/1;
  background-color: var(--icon-background);
  transition: background-color 0.1s ease;
}

.information-contact_icon:hover {
  background-color: #fafafa;
}

.information-contact_text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.information-contact_text-title {
  color: var(--list-label);
  font-size: clamp(0.688rem, 0.67rem + 0.089vw, 0.75rem);
  font-weight: normal;
}

.information-contact_text-description {
  font-size: clamp(0.813rem, 0.795rem + 0.089vw, 0.875rem);
  font-weight: 500;
  color: var(--primary);
}

.information-nav {
  display: flex;
  gap: 16px;
  width: fit-content;
}

.information-nav_link {
  border-radius: 8px;
  font-weight: 600;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  box-shadow: 0 1px 1px var(--shadow-color);
}

.information-nav_link:active {
  box-shadow: none;
}

.about-link,
.portfolio-link {
  font-size: clamp(0.75rem, 0.714rem + 0.179vw, 0.875rem);
}

.about-link {
  color: var(--primary);
  border: 1px solid var(--border-color);
}

.portfolio-link {
  color: var(--background-color);
  background-color: var(--primary);
}

.profile-picture {
  width: 480px;
  padding: 12px;
  border-radius: 28px;
}

.profile-picture img {
  aspect-ratio: 4 / 5;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 1130px) {
  #home {
    flex-direction: column-reverse;
  }
  .information {
    min-width: unset;
    width: 100%;
  }
  .profile-picture {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .information-nav {
    width: 100%;
    flex-direction: column;
    order: 1;
  }

  .information-contacts {
    order: 2;
  }

  .information-nav_link {
    width: 100%;
  }
}
